body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: color #0f0f0f;
    color:snow;
}

header {
    padding: 50px;
    text-align: center;
    background-color: #161616;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #203d5e;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.skills span {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2b443d;
    border-radius: 8px;
    margin: 5px;
    border: 1px solid #070707;
}

projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

card {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    transition: 0.3s;
}

card:hover {
    transform: scale(1.03);
    border-color: #00ff99;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #111;
    color: #aaa;
}

