        body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #363636;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    border: none;
    outline: none;
    text-align: right;
    padding: 10px;
    margin-bottom: 15px;
    background: #000;
    color: #00ff99;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #00ff99;
    color: black;
}
.equal {
    grid-column: span;
    background: #00ff99;
    color: black;
}